services:
    victoire_core.widget_search_content_resolver:
        class: Victoire\Widget\SearchBundle\Resolver\WidgetSearchContentResolver
        arguments:
            - @request_stack
            - @fos_elastica.manager.orm
            - @fos_elastica.config_manager
            - @doctrine.orm.entity_manager
            - @victoire_core.view_cache_helper
            - @victoire_page.page_helper
        tags:
            - { name: victoire_widget.widget_content_resolver, alias: Search }

    #alias to the entity
    victoire.widget.search:
        class: Victoire\Widget\SearchBundle\Entity\WidgetSearch

    #alias to the form
    victoire.widget.form.search:
        class: Victoire\Widget\SearchBundle\Form\WidgetSearchType
        tags:
            - { name: form.type , alias: victoire_widget_form_search }
